@use '../utils/' as *;
.toggle {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: none;
  padding: 0;
  @include breakpoint-up(medium) {
    width: auto;
  }
  label {
    font-size: rem(14);
    font-weight: 700;
    color: var(--dark-text1);

    &[for='dark'] {
      margin-left: rem(3);
      @include breakpoint-up(medium) {
        margin-right: rem(14);
      }
    }
    &[for='light'] {
      margin-left: rem(5);
    }
  }
  &__wrapper {
    width: rem(48);
    height: rem(24);
    position: relative;
    margin-top: 0;
  }
  input[type='radio'] {
    opacity: 0;
    margin: 0 rem(-2) 0 rem(-2);
    width: rem(22);
    height: rem(26);
    cursor: pointer;
    &:focus ~ .toggle__switcher {
      border: 2px solid white;
    }
  }

  &__background {
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    border-radius: rem(12);
    background: linear-gradient(
      225deg,
      var(--toggle-bg-end) 0%,
      var(--toggle-bg-start) 98.02%
    );
    pointer-events: none;
  }
  &__switcher {
    position: absolute;
    left: rem(3);
    right: 100%;
    top: rem(3);
    width: rem(18);
    height: rem(18);
    border-radius: 50%;
    background-color: var(--dark-bg);
    transition: all 150ms ease-in-out;
  }
  #light:checked ~ .toggle__switcher {
    left: calc(100% - 21px);
    right: 3px;
  }
}
